.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: yellow;
    position: relative;
}

.logo {
    margin: 0;
    height: 40px;
    width: 190px;
    z-index: 100;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    background-repeat: no-repeat;
    background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
    align-self: flex-start;
    background-repeat: no-repeat;
    background-image: url(../images/logo_place_footer.svg);
}

.logo_place_footer {}

.description {
    width: 100%;
    margin: 0;
    padding: 100px 0;
    background-color: pink;
    /* ВРЕМЕННО */
    display: flex;
    justify-content: center;
}

.two-columns {
    background-color: lightblue;
    /* ВРЕМЕННО */
    width: 80%;
    height: 200px;
    /* ВРЕМЕННО */
    margin: 0;
}

.digits {
    width: 100%;
    margin: 0;
    padding: 100px 0;
    background-color: yellow;
    /* ВРЕМЕННО */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    background-color: lightblue;
    /* ВРЕМЕННО */
    width: 60%;
    margin: 0;
    padding: 0;
}

.section-subtitle {
    background-color: blue;
    /* ВРЕМЕННО */
    width: 60%;
    margin: 0;
    padding: 0;
}

.table {
    background-color: lightgreen;
    /* ВРЕМЕННО */
    width: 1100px;
    height: 300px;
    /* ВРЕМЕННО */
    margin: 0;
    padding: 0;
}

.feynman {
    width: 100%;
    margin: 0;
    padding-top: 100px;
    background-color: violet;
    /* ВРЕМЕННО */
    height: 600px;
    /* ВРЕМЕННО */
}

.kaufman {
    width: 100%;
    margin: 0;
    padding: 90px 0;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 60px 0 40px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    min-height: 350px;
}

.footer__columns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: turquoise;
    /* ВРЕМЕННО */
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    background-color: #00ff00;
    /* ВРЕМЕННО */
}

.footer__column_content_info {
    width: 100px;
    background-color: #00ff00;
    /* ВРЕМЕННО */
}

.footer__column_content_social {
    width: 100px;
    background-color: #00ff00;
    /* ВРЕМЕННО */
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */


/*
.header__square-pic {
    height: 568px;
    width: 568px;
}


/* и элемента с модификатором вида ключ-значение */


/*
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
